/*
Theme Name: TwentySeventeen Child
Author: Anonymous
Version: 1.0.0
Template: twentyseventeen
*/

a {
	text-decoration: none;
}
body, span, pre, img, ul, li, ol, p{
	margin: 0px;
	padding: 0px;
}

body {
	overflow-x: hidden;
}

.row {
	margin-right:0px !important;
}

.container-fluid{
	padding: 0 !important;
}

.navbar {
	background: #4f7e6b;
}

/* navbar menu */
.navbar-fixed-top {
	min-height: 70px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 70px;
}

.navbar-nav > li > a, .dropdown-menu > li > a {
	font-family: 'League Spartan';
	color: #fff;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #4f7e6b;
}

@media (max-width: 767px) {
	.navbar-nav > li > a {
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/*************************************************************/

/* navbar logo */
.navbar.navbar-inverse {
	border: none;
}
.navbar .navbar-brand {
	padding-top: 0px;
}
.navbar .navbar-brand img {
	height: 70px;
}

/****************** Custom styles **********************/

.section {
	height: auto;
	padding: 0px;
	margin: 0px;
	width: 100%;
	padding-bottom:130px;
}

.homeinfusionprocess {
	color: #fff;
	font-family: 'League Spartan';
	line-height: 1.0em;
	font-size: 90px;
}

.hand-injection{
	margin-top: -140px;
	width: 100%;
	float: left;
}

.hip-desc {
	color: #fff;
	width: 70%;
	font-size: 20px;
}

.container-fluid {
	padding:0px;
	margin:0px;
}

.start-process{
	margin-left: 180px;
	background-color:#a4d2bf;
	border-radius:100px;
	padding:6px 20px;
}

.section-1-container{
	padding-top:70px;
	padding-left:280px;
}

.section-2-container{
	padding-top:200px;
}

.section-2-image {
	width: 400px;
	margin-left: 300px;
}

.section-2-text {
	margin-right: 250px;
	font-weight:bold;
}

.section-2-title-1{
	color:#9cb0a4;
	font-weight:bold;
	font-size:70px;
	margin-left:150px;
}

.section-2-title-2{
	color:#709586;
	font-weight:bold;
	font-size:100px;
	margin-left:150px;
}

.section-2-title-container{
	margin-top:100px;
}

#ano_ang_haplos span {
	line-height: 5.0em;
}

.section-3-container {
	background-color: #e6e5db;
	padding-top:200px;
	padding-left:180px;
}

.section-3-title-1{
	color:#9cb0a4;
	font-size:80px;
	font-weight:bold;
}

.section-3-title-2{
	color:#709586;
	font-size:110px;
	font-weight:bold;
}

.section-3-text{
	font-weight: bold;
	font-size:16px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: 200px;
	width: 50%;
}

.contact{
	color: #fff;
	font-size:90px;
	font-weight:bold;
}

#contact_haplos img {
	width: 55px;
}


.section-5-container{

}

.section-5-container .container{
	width:55% !important;
}

.section-5-title{
	color:#fff;
	font-size:70px;
	font-weight:bold;
	line-height: 1.0em;
}

.treatment-header{
	color: #bdd7bf;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 5px;
}

.hospital-name {
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	margin-left:7%;
}

.hospital-details, .doc{
	font-size: 18px;
	color: #fff;
	margin-left:7%;
}

.section-5-container .contact-text{
	width:auto;
	float:left;
	margin-left:7%;
	margin-top:5px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.vcenter {
	display: table-cell;
	vertical-align: middle;
	float: none;
	background: #333;
}

.clear {
	margin:0;
	clear:both;
}
.contact-wrapper {
	margin:0 auto;
	width:39%;
	padding-left:140px;
	padding-bottom:100px;
}

.col-1{
	width: 13%;
	float: left;
	margin-top: 10px;
}

.col-2{
	width: 70%;
	float: left;
}

.contact-text {
	background: #a4d2bf;
	border-radius: 12px;
	padding: 5px;
	margin-top: 19px;
	text-align: center;
	width: 87%;
}

.section-5-container{
	
}

/* dot nav */
.vNav {
	position: fixed;
	right:30px;
	bottom:30px;
	z-index: 9999;
	list-style-type: none;
}

.vNav ul {
	position: relative;
	padding: 3px;
	padding-left:35%;
/* 	background-color: #c3c3c3;
border-radius: 10px;
padding: 4px;
padding-top: 16px;
padding-right: 12px; */
}

.vNav ul li{
	position: relative;
	padding-bottom: 5px;
	padding-left: 35%;
	color: rgb(113,135,133);
}

.vNav a{
	display: block;
	width: 8px;
	height: 8px;
	text-indent: -9999px;
	border-radius: 100%;
	border: 2px solid;
	border-color: #000;
	text-decoration: none;
	width: 16px;
	height: 16px;
}

.vNav a:hover{
	border-radius: 100%;
	background-color: rgb(113,135,133);
	text-decoration: none;
	background-color: #fff;
}

.vNav a.active{
	border-radius: 100%;
	background-color: #FFF;
	text-decoration: none;
}

.label {
	position: relative;
	top: -60%;
	left: -200%;
	width: 100%;
	text-align: right;
	font-size: 1em;
	color: rgb(113,135,133);
	display: none;
}

/* menu bar style */

.dropdown-menu li a:hover{
	border-left: 6px solid #a4d2bf;
	transition: border-left 0.33s;
	background-color:#4f7e6b ;
	font-weight: bold;
}

/**********tutorial css************/
.tut-banner{
	background-color: #EBE4D5;
	margin-top: 70px;
	padding-top: 100px;
}

.tut-banner-title{
	color: #5B755F;
	text-align: center;
	font-size: 55px;
	font-weight: bold;
	line-height: 48px;
}

.tut-banner-icon-box{
	margin: 20px 0;
	border-top: 5px solid #D7CEC3;
	border-bottom: 5px solid #D7CEC3;
	padding: 20px 0;
}

.tut-banner-icons{
	float: left;
	width: 5%;
	margin: 20px 53px;
}

.tut-banner-sub{
	color: #5B755F;
	text-align: center;
}

.tut-bene-warn{
	background-color: #EBE4D5;
	padding-top: 95px;
}

.tut-bene-warn-title{
	font-size: 75px;
}

.tut-bene{
	height: auto;
	padding-bottom: 229px;
	width: 75%;
	margin-left: 160px;
	margin-right: 50px;
	background-color: #9FB19B;
	border-radius: 25px;
}

.tut-warn{
	height: auto;
	padding-bottom: 120px;
	width: 75%;
	background-color: #6D9075;
	border-radius: 25px;
}

.tut-bene-number{
	font-size: 60px;
	color: white;
}

.tut-bene-desc{
	color: white;
	margin-top: 15px;
}

.tut-reminder{
	background-color: #EBE4D5;
	padding-top: 75px;
}

.tut-reminder-title{
	font-size: 75px;
	text-align: center;
	font-weight: bold;
	line-height: 75px;
	color: #9FB19B; 
	margin-top: 30px;
}

.tut-reminder-inst{
	margin-left: 350px;
	margin-right: 210px;
}

.tut-reminder-number{
	font-size: 60px;
	color: #9FB19B;
	text-align: right;
	font-weight: bold;
}

.tut-reminder-desc{
	margin-top: 20px;
	font-size: 18px;
}

.tut-dosage-desc{
	background-color: #EBE4D5;
	padding-top: 85px;
}

.tut-dosage-desc-title{
	font-size: 75px;
	font-weight: bold;
	line-height: 75px;
	color: #9FB19B; 
}

.tut-dosage-desc-number{
	font-size: 60px;
	color: #6D9075;
	text-align: right;
	font-weight: bold;
}

.tut-dosage-desc-desc{
	font-size: 18px;
}

.dosage-formula{
	border: 5px solid #6D9075;
	border-radius: 15px; 
	width: 46%;
	padding: 10px;
	margin-left: 50px;
}

.tut-dosage-calc{
	background-color: #EBE4D5;
	padding-top: 65px;
}

.tut-dosage-calc-title{
	color: #6D9075;
	font-size: 75px;
	margin-top: 20px;
	text-align: center;
}

.styleSelect select {
	background: transparent;
	width: 250px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	color: #000;
}

.styleSelect {
	margin: 0 40%;
	width: 250px;
	height: 32px;
	overflow: hidden;
	border: 2px solid #000;
}

.tut-dosage-calc-box{
	margin: 50px 33%;
	background-color: #9FB19B;
	border-radius:	25px;
	padding: 10px 35px;
	width: 32%;
	height: 42vh;
}

.tut-dosage-calc-inner{
	margin: 20px 0;

}

.calc-input-labels{
	background-color: white;
	border-radius: 25px;
	text-align: center;
	padding: 5px;
}

.calc-input{
	background-color: #9FB19B;
	border: none;
	border-bottom: 2px solid white;
	width: 100%;
}

.calc-submit{
	margin: 0 35%;
}

.calc-submit-button{
	border-radius: 11px;
	color: white;
	background-color: #6D9075;
}

/*step vertical tabs*/

.tut-first-step, .tut-second-step, .tut-third-step, .tut-fourth-step{
	background-color: #EBE4D5;
	padding-top: 88px;	
}

.tut-step-title{
	color: #842B25;
	font-size: 75px;
	/*margin-top: 20px;*/
	text-align: center;
	font-weight: bold;
	line-height: 75px;
}

.step-tab-holder{
	margin: 75px 12%;
}

/* Style the tab */
div.step-tab{
	float: left;
	border-top: 1px solid transparent;
	background-color: #EBE4D5;
}

/* Style the buttons inside the tab */
div.step-tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 5px 15px;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	border: 5px solid #842B25;
	border-right: none;
	margin-bottom: 5px;
	border-radius: 10px 0 0 10px;
	font-weight: bold;
	font-size: 18px;
}

div.step-tab button:last-child {
	margin-bottom: 0;
}

/* Change background color of buttons on hover */
div.step-tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.step-tab button.active {
	background-color: #842B25;
	color: white;
	border-right: none;
}

/* Style the tab content */
.first-step-tabcontent, .second-step-tabcontent, .third-step-tabcontent, .third-step-pt2-tabcontent, .fourth-step-tabcontent {
	position: relative;
	background-color: #842B25;
	color: white;
	float: left;
	padding: 10px 30px;
	border: 1px solid #ccc;
	width: 70%;
	border-left: none;
	height: 400px;
	border-radius: 0 10px 10px 10px;
}

.step-btn-holder{
	position: absolute; 
	bottom: 30px;
}

.step-btn-prev{
	margin-top: 20px;
}

.step-btn-next{
	float: right;
	margin-top: 20px;
	margin-right: 75px;
}

.step-btp{
	float: left;
	margin-top: 20px;
	font-size: 20px;
}

.step-tbc{
	float: right;
	margin-right: 60px;
	margin-top: 20px;
	font-size: 20px;
}

.tut-mistakes{
	background-color: #EBE4D5;
	padding-top: 100px;
}

.tut-mistakes-title{
	font-size: 75px;
	font-weight: bold;
	line-height: 75px;
	color: #9FB19B;
	text-align: center;
}

.tut-mistakes-panels{
	height: 450px;
	border: 5px solid #6D9075;
	margin-right: 10px;
	color: #6D9075;
}

.mistake-number{
	font-size: 60px;
	text-align: center;
	font-weight: bold;
}

.mistake-desc{
	font-size: 17px;
}

.tut-mistakes-panels:hover{
	background-color: #6D9075;
	color: white;
}

.tut-end{
	background-color: #6D9075;
	color: white;
	padding-top: 48px;
}

.tut-end-title, .tut-sub-title{
	text-align: center;
	font-weight: bold;
	line-height: 60px;
}

.tut-end-title{
	font-size: 75px;
	margin-top: 20%;
}

.tut-sub-title{
	font-size: 60px;
}

.tut-end-btn{
	border-radius: 30px;
	background-color: #EBE4D5
	color: black;
}

.step-gif{
	width: 50%;
	margin: 0 auto;
}

.user-score{
	font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: #b5d8ca;
}

/*************** Responsiveness of index ***************/

/*Larger Screens*/
@media only screen and (min-width : 1600px) {


}

/*Desktops & laptops*/
@media only screen and (min-width : 1225px) and (max-width: 1599px) {
	.hand-injection {
		margin-top:-100px;
	}
	.section-1-container{
		padding-left:200px;
	}
	.homeinfusionprocess {
		font-size: 80px;
	}
	.section-2-image {
		width: 500px;
		margin-left: 110px;
	}
	.section-2-text {
		margin-right: 150px;
		font-weight: bold;
		padding-left: 80px;
		font-size: 15px;
	}
	.section-2-title-container{
		margin-top:50px;
	}
	.section-3-text{
		font-size:20px;
		width: 65%;
	}
	.section-2-container{
		padding-top:130px;
	}

	.section-3-container {
		background-color: #e6e5db;
		padding-top:130px;
		padding-left:180px;
	}
	.section-3-text{
		font-size:15px;
		margin-top:60px;
		margin-bottom:60px;
	}

	.contact-wrapper {
		width: 54%;
	}

	.section-5-title{
		font-size:62px;
	}
}
/*Tablets*/
@media only screen and (min-width : 992px) and (max-width : 1224px) {
	.hand-injection {
		margin-top:-80px;
	}
	.section-1-container{
		padding-left:200px;
	}
	.homeinfusionprocess {
		font-size: 80px;
	}
	.hip-desc{
		font-size:17px;
	}
	.section-1-container {
		padding-left:100px;
	}
	.section-2-image {
		width: 500px;
		margin-left: 50px;
	}
	.section-2-text {
		margin-right: 100px;
		font-weight: bold;
		padding-left: 30px;
		font-size: 15px;
		margin-top:30px;
	}
	.section-2-title-container{
		margin-top:20px;
	}
	.section-2-container{
		padding-top:130px;
	}
	.section-2-title-1, .section-2-title-2 {
		margin-left: 50px;
	}
	.section-3-container {
		padding-top: 80px;
		padding-left:48px;
	}
	.contact-wrapper {
		width: 58%;
	}
	.section-title{
		font-size:50px;
	}
}

@media only screen and (min-width : 480px) and (max-width : 991px) {
	.section-1-container {
		padding-left: 140px;
	}
	.homeinfusionprocess {
		font-size: 133px;
	}
	.hand-injection {
		margin-top: -292px;
	}
	.hip-desc {
		margin-top:30px;
		font-size: 32px;
		margin-left: 140px;
	}

	.start-process{
		font-size:40px;
		margin-left:280px;
		margin-top:20px;
	}
	.section-2-image {
		width: 100%;
		margin-left:0px;
		padding-left:20px;
		padding-right:10px;
	}

	.section-2-text{
		margin:0 auto;
		width: 80%;
		font-size:22px;
		margin-top:40px;
	}

	.section-2-title-1, .section-2-title-2 {
		margin-left:75px;
	}
	.section-2-title-1{
		font-size:80px;
	}
	.section-2-title-2{
		margin-top:5px;
		font-size:110px;
	}

	.section-3-text {
		font-size:30px;
		width: 70%;
		margin-left:85px;
	}
	.section-3-title-1{
		font-size:90px;
	}
	.setion-3-title-2{
		font-size:120px;		
	}
	.section-3-container{
		padding-left:95px;
	}
	.contact-wrapper{
		margin-top:100px;
		width: 80%;
	}
	.contact-text{
		font-size:25px;
		padding-left:15px;
		padding-right:15px;
	}
}


/******* Examination Page Styles ********/
.start-exam {
	background-color:#a4d2bf;
	border-radius:100px;
	padding:6px 20px;
}

.exam-header {
	color:#b5d8ca;
	font-size:80px;
	font-weight:bold;
}

.exam-subheader{
	color: #fff;
	font-weight: bold;
	font-size: 32px;
	margin-bottom:60px;
}

.exam-intro{
	color: #fff;
	font-size: 25px;
}

.exam-part-head{
	color:#b5d8ca;
	font-size:36px;
	font-weight:bold;
	margin-bottom:5%;
}

.exam-question, input[type="radio"] {
	color:#fff;
	font-size:30px;
	margin-bottom:1%;
}

.exam-container {
	margin-left:10%;
}

.exam-radio-btn {
	margin-left:6%;
}