/*
Theme Name: TwentySeventeen Child
Author: Anonymous
Version: 1.0.0
Template: twentyseventeen
*/

a {
	text-decoration: none;
}
body, span, pre, img, ul, li, ol, p{
	margin: 0px;
	padding: 0px;
}

body {
	overflow-x: hidden;
}

.row {
	margin-right:0px !important;
}

.container-fluid{
	padding: 0 !important;
}
.navbar {
	background: #4f7e6b;
}

/* navbar menu */
.navbar-fixed-top {
	min-height: 70px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 70px;
}

.navbar-nav > li > a, .dropdown-menu > li > a {
	font-family: 'League Spartan';
	color: #fff;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #4f7e6b;
}

@media (max-width: 767px) {
	.navbar-nav > li > a {
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/*************************************************************/

/* navbar logo */
.navbar.navbar-inverse {
	border: none;
}
.navbar .navbar-brand {
	padding-top: 0px;
}
.navbar .navbar-brand img {
	height: 70px;
}

/****************** Custom styles **********************/

.section {
	height: auto;
	padding: 0px;
	margin: 0px;
	width: 100%;
	padding-bottom:100px;
}

.homeinfusionprocess {
	color: #fff;
	font-family: 'League Spartan';
	line-height: 1.0em;
	font-size: 90px;
}

.hand-injection{
	margin-top: -140px;
	width: 100%;
	float: left;
}

.hip-desc {
	color: #fff;
	width: 70%;
	font-size: 20px;
}

.container-fluid {
	padding:0px;
	margin:0px;
}

.start-process{
	margin-left: 180px;
	background-color:#a4d2bf;
	border-radius:100px;
	padding:6px 20px;
}

.section-1-container{
	padding-top:70px;
	padding-left:280px;
}

.section-2-container{
	padding-top:200px;
}

.section-2-image {
	width: 400px;
	margin-left: 300px;
}

.section-2-text {
	margin-right: 250px;
	font-weight:bold;
}

.section-2-title-1{
	color:#9cb0a4;
	font-weight:bold;
	font-size:70px;
	margin-left:150px;
}

.section-2-title-2{
	color:#709586;
	font-weight:bold;
	font-size:100px;
	margin-left:150px;
}

.section-2-title-container{
	margin-top:100px;
}

#ano_ang_haplos span {
	line-height: 5.0em;
}

.section-3-container {
	background-color: #e6e5db;
	padding-top:200px;
	padding-left:180px;
}

.section-3-title-1{
	color:#9cb0a4;
	font-size:80px;
	font-weight:bold;
}

.section-3-title-2{
	color:#709586;
	font-size:110px;
	font-weight:bold;
}

.section-3-text{
	font-weight: bold;
	font-size:16px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: 200px;
	width: 50%;
}

.contact{
	color: #fff;
	font-size:90px;
	font-weight:bold;
}

#contact_haplos img {
	width: 55px;
}

.section-5-title{
	color:#fff;
	font-size:70px;
	font-weight:bold;
	line-height: 1.0em;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.vcenter {
	display: table-cell;
	vertical-align: middle;
	float: none;
	background: #333;
}

.clear {
	margin:0;
	clear:both;
}
.contact-wrapper {
	margin:0 auto;
	width:39%;
	padding-left:140px;
	padding-bottom:100px;
}

.col-1{
	width: 13%;
	float: left;
	margin-top: 10px;
}

.col-2{
	width: 70%;
	float: left;
}

.contact-text {
	background: #a4d2bf;
	border-radius: 12px;
	padding: 5px;
	margin-top: 19px;
	text-align: center;
	width: 87%;
}

.section-5-container{
	padding-bottom:550px;
}

/* SIDEBAR NAVIGATION */
.sidebar {position:absolute; right:0;}
.dot {display:inline-block; width:10px; height:10px; background-color:rgba(255,255,255,.3); border-radius:10px; z-index:999; content:''; color:transparent; font-size:14px; line-height:10px; vertical-align:middle; margin:5px 0 5px 0; font-weight:300;}
.dot:hover {background-color:rgba(255,255,255,.8); color:rgba(255,255,255,.8);}
.dot span {margin:0px 0px 20px 15px; position:relative; top:0px; left:-80px;}
.sidebar-nav {width:100px; height:200px;/*background-color:rgb(240,240,240); border:solid 1px rgb(220,220,220);*/ padding:0 0px; position:fixed; top:50%; right:20px; transform: translate(0, -50%); z-index: 10000; text-align:right;}
.sidebar-nav ul li a {text-decoration:none;}
.sidebar-nav ul {list-style-type:none; margin:0; padding:0;}
.name-active {color:rgba(255,255,255,.8); background-color:#FFD95F; text-align:right;}

/* menu bar style */

.dropdown-menu li a:hover{
	border-left: 6px solid #a4d2bf;
	transition: border-left 0.33s;
	background-color:#4f7e6b ;
	font-weight: bold;
}

/**********tutorial css************/
.tut-banner{
	background-color: #EBE4D5;
	margin-top: 70px;
	padding-top: 50px;
}

.tut-banner-title{
	color: #5B755F;
	text-align: center;
	font-size: 55px;
	font-weight: bold;
	line-height: 48px;
}

.tut-banner-icon-box{
	margin: 20px 0;
	border-top: 5px solid #D7CEC3;
	border-bottom: 5px solid #D7CEC3;
	padding: 20px 0;
}

.tut-banner-sub{
	color: #5B755F;
	text-align: center;
}

.tut-bene-warn{
	background-color: #EBE4D5;
}

.tut-bene-warn-title{
	font-size: 75px;
}

.tut-bene{
	height: 82vh;
	width: 35%;
	margin-left: 160px;
	margin-right: 50px;
	background-color: #9FB19B;
	border-radius: 25px;
}

.tut-warn{
	height: 82vh;
	width: 35%;
	background-color: #6D9075;
	border-radius: 25px;
}

.tut-bene-number{
	font-size: 60px;
	color: white;
}

.tut-bene-desc{
	color: white;
	margin-top: 15px;
}

.tut-reminder{
	background-color: #EBE4D5;
}

.tut-reminder-title{
	font-size: 75px;
	text-align: center;
	font-weight: bold;
	line-height: 75px;
}

.tut-reminder-inst{
	margin-left: 350px;
	margin-right: 210px;
}

.tut-reminder-number{
	font-size: 60px;
	color: #9FB19B;
	text-align: right;
	font-weight: bold;
}

.tut-reminder-desc{
	margin-top: 20px;
	font-size: 18px;
}

.tut-dosage-desc{
	background-color: #EBE4D5;
}

.tut-dosage-desc-title{
	font-size: 75px;
	font-weight: bold;
	line-height: 75px;
	color: #9FB19B; 
}

.tut-dosage-desc-number{
	font-size: 60px;
	color: #6D9075;
	text-align: right;
	font-weight: bold;
}

.tut-dosage-desc-desc{
	font-size: 18px;
}

.dosage-formula{
	border: 5px solid #6D9075;
	border-radius: 15px; 
	width: 46%;
	padding: 10px;
	margin-left: 50px;
}

.tut-dosage-calc{
	background-color: #EBE4D5;
}

.tut-dosage-calc-title{
	color: #6D9075;
	font-size: 75px;
	margin-top: 20px;
	text-align: center;
}

.styleSelect select {
	background: transparent;
	width: 250px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	color: #000;
}

.styleSelect {
	margin: 0 40%;
	width: 250px;
	height: 32px;
	overflow: hidden;
	border: 2px solid #000;
}

.tut-dosage-calc-box{
	margin: 50px 33%;
	background-color: #9FB19B;
	border-radius:	25px;
	padding: 10px 35px;
	width: 32%;
	height: 42vh;
}

.tut-dosage-calc-inner{
	margin: 20px 0;

}

.calc-input-labels{
	background-color: white;
	border-radius: 25px;
	text-align: center;
	padding: 5px;
}

.calc-input{
	background-color: #9FB19B;
	border: none;
	border-bottom: 2px solid white;
	width: 100%;
}

.calc-submit{
	margin: 0 35%;
}

.calc-submit-button{
	border-radius: 11px;
	color: white;
	background-color: #6D9075;
}


/*************** Responsiveness of index ***************/

/*Larger Screens*/
@media only screen and (min-width : 1600px) {


}

/*Desktops & laptops*/
@media only screen and (min-width : 1225px) and (max-width: 1599px) {
	.hand-injection {
		margin-top:-100px;
	}
	.section-1-container{
		padding-left:200px;
	}
	.homeinfusionprocess {
		font-size: 80px;
	}
	.section-2-image {
		width: 500px;
		margin-left: 110px;
	}
	.section-2-text {
		margin-right: 150px;
		font-weight: bold;
		padding-left: 80px;
		font-size: 15px;
	}
	.section-2-title-container{
		margin-top:50px;
	}
	.section-3-text{
		font-size:20px;
		width: 65%;
	}
	.section-2-container{
		padding-top:130px;
	}

	.section-3-container {
		background-color: #e6e5db;
		padding-top:130px;
		padding-left:180px;
	}
	.section-3-text{
		font-size:15px;
		margin-top:60px;
		margin-bottom:60px;
	}

	.contact-wrapper {
		width: 54%;
	}

	.section-5-title{
		font-size:62px;
	}
}
/*Tablets*/
@media only screen and (min-width : 992px) and (max-width : 1224px) {
	.hand-injection {
		margin-top:-80px;
	}
	.section-1-container{
		padding-left:200px;
	}
	.homeinfusionprocess {
		font-size: 80px;
	}
	.hip-desc{
		font-size:17px;
	}
	.section-1-container {
		padding-left:100px;
	}
	.section-2-image {
		width: 500px;
		margin-left: 50px;
	}
	.section-2-text {
		margin-right: 100px;
		font-weight: bold;
		padding-left: 30px;
		font-size: 15px;
		margin-top:30px;
	}
	.section-2-title-container{
		margin-top:20px;
	}
	.section-2-container{
		padding-top:130px;
	}
	.section-2-title-1, .section-2-title-2 {
		margin-left: 50px;
	}
	.section-3-container {
		padding-top: 80px;
		padding-left:48px;
	}
	.contact-wrapper {
		width: 58%;
	}
	.section-title{
		font-size:50px;
	}
}

@media only screen and (min-width : 480px) and (max-width : 991px) {
	.section-1-container {
		padding-left: 140px;
	}
	.homeinfusionprocess {
		font-size: 133px;
	}
	.hand-injection {
		margin-top: -292px;
	}
	.hip-desc {
		margin-top:30px;
		font-size: 32px;
		margin-left: 140px;
	}

	.start-process{
		font-size:40px;
		margin-left:280px;
		margin-top:20px;
	}
	.section-2-image {
		width: 100%;
		margin-left:0px;
		padding-left:20px;
		padding-right:10px;
	}

	.section-2-text{
		margin:0 auto;
		width: 80%;
		font-size:22px;
		margin-top:40px;
	}

	.section-2-title-1, .section-2-title-2 {
		margin-left:75px;
	}
	.section-2-title-1{
		font-size:80px;
	}
	.section-2-title-2{
		margin-top:5px;
		font-size:110px;
	}

	.section-3-text {
		font-size:30px;
		width: 70%;
		margin-left:85px;
	}
	.section-3-title-1{
		font-size:90px;
	}
	.setion-3-title-2{
		font-size:120px;		
	}
	.section-3-container{
		padding-left:95px;
	}
	.contact-wrapper{
		margin-top:100px;
		width: 80%;
	}
	.contact-text{
		font-size:25px;
		padding-left:15px;
		padding-right:15px;
	}
}